@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header" style=" display: flex; align-items: center; justify-content: space-between;">
        <h3 class="card-title">THANH TOÁN NGHIÊN CỨU VIÊN</h3>
        <div style=" display: flex; align-items: center;">
            <a type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-lg-create">Thêm mới</a>
            <input type="file" id="importFileInput" accept=".xlsx,.xls">
            <button class="btn btn-sm btn-success" onclick="importExcel()">Import Excel</button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sản phẩm NCKH</th>
                    <th>Mô tả sản phẩm NCKH</th>
                    <th>TCNCKH</th>
                    <th>Kinh phí</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sửa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <!-- form start -->
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="id">
                                <div class="form-group">
                                    <label for="sanPhamKHCN">Sản phẩm KHCN:</label>
                                    <input type="text" class="form-control" id="sanPhamKHCN">
                                </div>
                                <div class="form-group">
                                    <label for="moTaSanPhamKHCN">Mô tả sản phẩm KHCN</label>
                                    <input type="text" class="form-control" id="moTaSanPhamKHCN">
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="tcnckh">TCNCKH:</label>
                                        <input type="text" class="form-control" id="tcnckh">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="kinhPhi">Kinh phí:</label>
                                        <input type="text" class="form-control" id="kinhPhi">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="sua()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-lg-create" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <!-- form start -->
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="sanPhamKHCNcr">Sản phẩm KHCN:</label>
                                    <input type="text" class="form-control" id="sanPhamKHCNcr">
                                </div>
                                <div class="form-group">
                                    <label for="moTaSanPhamKHCNcr">Mô tả sản phẩm KHCN</label>
                                    <input type="text" class="form-control" id="moTaSanPhamKHCNcr">
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="tcnckhcr">TCNCKH:</label>
                                        <input type="text" class="form-control" id="tcnckhcr">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="kinhPhicr">Kinh phí:</label>
                                        <input type="text" class="form-control" id="kinhPhicr">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='/ThanhToanNCV/Index'">Close</button>
                <button type="button" class="btn btn-primary" onclick="themMoi()">Add</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function getData() {
            fetch('https://localhost:44364/api/ThanhToanNCV/Get-all', {
                headers: {
                    'Authorization': 'Bearer ' + _token,
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    const tbody = document.querySelector('#example1 tbody');
                    data.forEach(function (row) {
                        var tr = document.createElement('tr');
                        tr.innerHTML = "<td width='5%' align='center'>" + row.id + "</td>" +
                            "<td>" + row.sanPhamKHCN + "</td>" +
                            "<td>" + row.moTaSanPhamKHCN + "</td>" +
                            "<td width='12%'>" + row.tcnckh + "</td>" +
                            "<td width='12%'>" + row.kinhPhi + "</td>" +
                            "<td width='3%'><a type='button' data-toggle='modal' data-target='#modal-lg' onclick='xemchitiet(" + row.id + ")'><i class='fas fa-edit' style='color: #3276b1;'></i></a></td>" +
                            "<td width='3%'><a type='button' onclick='deleteItem(" + row.id + ")'><i class='fas fa-trash-alt' style='color: #c82333;'></i></a></td>";
                        tbody.appendChild(tr);
                    });
                    $(function () {
                        $("#example1").DataTable({
                            "paging": true,
                            "searching": true,
                            "ordering": true,
                            "info": true,
                            "responsive": true, "lengthChange": false, "autoWidth": false,
                            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                    });
                });

        }
        getData();

    });
    function xemchitiet(idqd, callback) {
        fetch('https://localhost:44364/api/ThanhToanNCV/Get-id?ID=' + idqd, {
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById("id").value = data.id;
                document.getElementById("sanPhamKHCN").value = data.sanPhamKHCN;
                document.getElementById("moTaSanPhamKHCN").value = data.moTaSanPhamKHCN;
                document.getElementById("tcnckh").value = data.tcnckh;
                document.getElementById("kinhPhi").value = data.kinhPhi;
            })
    }
    function themMoi() {
        const data = {
            sanPhamKHCN: document.getElementById("sanPhamKHCNcr").value,
            moTaSanPhamKHCN: document.getElementById("moTaSanPhamKHCNcr").value,
            tcnckh: document.getElementById("tcnckhcr").value,
            kinhPhi: document.getElementById("kinhPhicr").value
        }
        fetch('https://localhost:44364/api/ThanhToanNCV/Create', {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    alert('Thêm dữ liệu thành công!');

                    $('#modal-lg-create').modal('hide');


                    location.reload();
                } else {
                    alert('Có lỗi');
                }
            });
    }

    function sua() {
        const data = {
            id: document.getElementById("id").value,
            sanPhamKHCN: document.getElementById("sanPhamKHCN").value,
            moTaLoaiSanPham: document.getElementById("moTaLoaiSanPham").value,
            tcnckh: document.getElementById("tcnckh").value,
            kinhPhi: document.getElementById("kinhPhi").value
        }
        fetch('https://localhost:44364/api/ThanhToanNCV/Update/' + data.id, {
            method: 'PUT',
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    alert('Cập nhật dữ liệu thành công');
                    window.location.href = '/ThanhToanNCV/Index';
                } else {
                    alert('Có lỗi xảy ra');
                }
            });
    }
    //Xóa
    function deleteItem(id) {
        if (confirm("Xác nhận xóa?")) {
            fetch("https://localhost:44364/api/QuyDoiGV/Delete/" + id, {
                method: 'DELETE',
                headers: {
                    'Authorization': 'Bearer ' + _token,
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        alert('Xóa dữ liệu thành công!');
                        window.location.href = '/ThanhToanNCV/Index';
                    } else {
                        alert('Có lỗi xảy ra');
                    }
                });
        }
    }

    function importExcel() {
        const input = document.querySelector('#importFileInput');
        const file = input.files[0];
        const formData = new FormData();
        formData.append('file', file);

        fetch('https://localhost:44364/api/ThanhToanNCV/ImportExcel', {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + _token,
            },
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    return alert("Có lỗi xảy ra");
                }
                return alert("Nhập dữ liệu thành công");
            })
    }
</script>
