@{
  ViewBag.Title = "Đề Tài Sinh Viên";
  Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}

@{
  // Xác định năm học bắt đầu và năm học hiện tại
  int startYear = 2022;
  int currentYear = DateTime.Now.Year;

  // Tạo danh sách năm học
  var years = new List<dynamic>();
  for (int year = startYear; year <= currentYear; year++)
  {
    string nextYear = (year + 1).ToString();
    // add list
    years.Add(new
    {
      Year = $"{year}-07-01 00:00:00.0000000",
      YearOption = $"{year} - {nextYear}"
    });
  }

  // Đảo ngược danh sách
  years.Reverse();

  // Xác định năm học hiện tại
  string currentYearOption = DateTime.Now.Month < 9 ? $"{currentYear - 1} - {currentYear}" : $"{currentYear} - {currentYear + 1}";
}

<head>
  <link href="~/Content/toastr.min.css" rel="stylesheet" />
  <link href="~/Content/toastr.css" rel="stylesheet" />
  <style>
    #timeline {
      width: 200px;
      padding: 10px;
      border: none;
      background-color: #f2f2f2;
      color: #333;
      font-size: 16px;
      border-radius: 5px;
      outline: none;
      transition: box-shadow 0.3s;
      margin-left: 5%;
    }

      #timeline:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }

      #timeline:focus {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
      }

      #timeline::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #333;
        transform: translateY(-50%);
        pointer-events: none;
      }

    .notification {
      display: flex;
      align-items: center;
      background-color: #f8f8f8;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 12px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .notification-icon {
      margin-right: 12px;
      font-size: 24px;
      color: #3276b1;
    }

    .notification-content {
      flex: 1;
    }

    .notification-title {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }

    .notification-message {
      margin: 0;
      font-size: 14px;
      color: #777;
    }
  </style>
</head>


<style>
  input[readonly] {
    background-color: #f8f8f8; /* Màu nền chỉ đọc */
    cursor: not-allowed; /* Biểu tượng con trỏ chỉ đọc */
  }
</style>

<div class="all">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">SẢN PHẨM KHOA HỌC CÔNG NGHỆ</h3>
    </div>

    <!-- /.card-header -->
    <div class="card-header">
      <div class="col-md-12 d-flex justify-content-between">
        @*<input class="btn btn-success btn-sm " id="signdt" type="submit" value="KÊ KHAI KHỐI LƯỢNG NCKH" onclick="location.href='/Article/Index'">*@
        <button type="button" class="btn btn btn-success" id="create" data-toggle="modal" data-target="#modal-xl-create" data-backdrop="static">THÊM MỚI</button>
        <select id="timeline">
          @foreach (var year in years)
          {
            <option value="@year.Year" @(year.YearOption == currentYearOption ? "selected" : "")>@year.YearOption</option>
          }
        </select>
        <input id="iddmxd" type="hidden" />
        <div class="btn-group">
          <button type="button" class="btn btn btn-warning dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
            <span>EXPORT EXCEL</span>
          </button>

          <div class="dropdown-menu" role="menu" style="">
            <a class="dropdown-item" onclick="ExportToExcelDeTaiUser(1)" href="#">Nhóm Nghiên Cứu Mạnh</a>
            <a class="dropdown-item" onclick="ExportToExcelDeTaiUser(2)" href="#">Khoa/Viện</a>
            <a class="dropdown-item" onclick="ExportToExcelDeTaiUser(3)" href="#">Trường</a>
            <a class="dropdown-item" onclick="ExportToExcelDeTaiUser(4)" href="#">Nghiên Cứu Viên</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <p class="text-danger mb-0 "></p>
    </div>

    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped ">
        <thead style="background-color: #007bff; color: white">
          <tr>
            <th>STT</th>
            <th>Tên đề tài</th>
            <th>Thời gian thực hiện đề tài</th>
            <th>Vai trò</th>
            <th>Sản phẩm</th>
            <th>Kinh phí tài trợ</th>
            <th>Ghi chú</th>
            <th>Trạng thái</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" style="text-align:right">
              Tổng
            </td>
            <td></td>
            <td id="tongKinhPhi"></td>
            <td colspan="4"></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
</div>

<div class="modal fade" id="modal-xl" data-backdrop="static">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Thông tin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Tác giả</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-content-above-messages-tab" data-toggle="pill" href="#custom-content-above-messages" role="tab" aria-controls="custom-content-above-messages" aria-selected="false">Minh Chứng</a>
          </li>
        </ul>
        <div class="tab-content" id="custom-content-above-tabContent">
          <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">THÔNG TIN ĐĂNG KÝ BÀI BÁO</h3>
              </div>
              <form>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <input type="hidden" class="form-control" id="idDanhMuc">
                      <div class="form-group">
                        <label for="tenBaiBao">Tên bài báo</label>
                        <input type="text" class="form-control" disabled id="tenBaiBao">
                      </div>
                      <div class="form-group">
                        <label for="type">type</label>
                        <input type="text" class="form-control" disabled id="type">
                      </div>
                      <div class="form-group">
                        <label for="issn">issn</label>
                        <input type="text" class="form-control" disabled id="issn">
                      </div>
                      <div class="form-group">
                        <label for="eissn">eissn</label>
                        <input type="text" class="form-control" disabled id="eissn">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="rank">rank</label>
                        <select class="custom-select" id="rank" disabled>
                          <option value="GV">Giảng viên</option>
                          <option value="NCV">Nghiên cứu viên</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="total">total</label>
                        <input type="text" class="form-control" disabled id="total2">
                      </div>
                      <div class="form-group">
                        <label for="dateSubmit">Ngày gửi</label>
                        <input type="datetime" class="form-control" id="dateSubmit" disabled>
                      </div>
                      <div class="form-group" id="status-quyen">
                        <label for="status">Status</label>
                        <input type="text" class="form-control" disabled id="status">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="ghiChu">Ghi chú</label>
                        <textarea type="text" class="form-control" disabled id="ghiChu"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">KÊ KHAI TÁC GIẢ</h3>
              </div>
              <div class="card-body">
                <table id="tbtacgia" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Stt</th>
                      <th>MaNV - Họ tên</th>
                      <th>Cơ quan công tác</th>
                      <th>Loại tác giả</th>
                      <th>Tổng nhận trước thuế</th>
                      <th>Thực nhận</th>
                      <th>Điểm</th>
                      <th>Tiết chuẩn</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-content-above-messages" role="tabpanel" aria-labelledby="custom-content-above-messages-tab">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">MINH CHỨNG</h3>
              </div>
              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label>Số DOI: </label>
                    <a href="#" target="_blank" id="link">#</a>
                  </div>

                  <div class="form-group">
                    <label for="image">Ảnh: </label>
                    <div id="image"></div>
                    <div id="file"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-xl-create">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">KÊ KHAI KHỐI LƯỢNG NGHIÊN CỨU KHOA HỌC</h3>
          </div>
          <div class="card-body p-0">
            <div class="bs-stepper" id="myStepper">
              <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step" data-target="#logins-part">
                  <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Thông tin sản phẩm</span>
                  </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#information-part">
                  <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Nhập thông tin tác giả</span>
                  </button>
                </div>
              </div>
              <div class="bs-stepper-content">
                <!-- your steps content here -->
                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                  <div class="form-group row">
                    <label class="col-form-label" for="tenSanPhamKHCN">Tên đề tài*:</label>
                    <input type="text" class="form-control col" id="tenSanPhamKHCN" placeholder="Tạp chí, bài báo, sách, kỷ yếu..." style="margin-left:2%">
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label" for="moTaSanPhamKHCN">Nội dung nghiên cứu:</label>
                    <input type="text" class="form-control col" id="moTaSanPhamKHCN" placeholder="Mô tả chi tiết các nội dung..." style="margin-left:2%">
                  </div>
                  <div class="row">
                    <div class="form-group col row">
                        <label class="col-form-label" for="tgThucHien">Thời gian thực hiện (tháng)*</label>
                        <input id="tgThucHien" type="number" placeholder="Nhập số từ 5 - 12" min="5" max="12" value="5" class="form-control col" style="margin-left:6%" />
                    </div>
                    <div class="form-group col row" style="margin-left:2%">
                        <label class="col-form-label" for="sanPhamDuKien">Sản phẩm dự kiến:</label>
                        <select class="custom-select col-6" id="sanPhamDuKien" style="margin-left:4%">
                          <option value="" selected disabled>-- Chọn loại hình --</option>
                          <option value="DT_NCKH_Seminar">Đề tài NCKH/Seminar</option>
                          <option value="HDSV">Hướng dẫn sinh viên</option>
                        </select>
                    </div>
                  </div>
                  <div id="ketqua" style="display:none">
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label" for="kinhPhi">Kinh phí dự kiến (UEF cấp):</label>
                    <input type="text" class="form-control col" id="kinhPhi" placeholder="Nhập tiền" style="margin-left:2%">
                  </div>
                  <div class="row">
                    <div class="form-group col row" style="margin-left:2%">
                      <label class="col-form-label" for="fileDangKy">Tải lên file đăng ký đề tài:</label>
                      <input type="file" class="form-control col-7" id="fileDangKy" onchange="handleSelectFile('fileDangKy', 'fileDangKyDetail')" />
                      @* TODO: Giải pháp tạm thời *@
                      <input type="hidden" id="fileDangKy_hidden" />
                    </div>
                    <div id="fileDangKyDetail" class="form-group col row">
                      <!-- Danh sách file đã upload thành công sẽ hiển thị tại đây -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col row" style="margin-left:2%">
                      <label class="col-form-label" for="fileThuyetMinh">Tải lên file thuyết minh đề tài:</label>
                      <input type="file" class="form-control col-7" id="fileThuyetMinh" onchange="handleSelectFile('fileThuyetMinh', 'fileThuyetMinhDetail')" />
                      @* TODO: Giải pháp tạm thời *@
                      <input type="hidden" id="fileThuyetMinh_hidden" />
                    </div>
                    <div id="fileThuyetMinhDetail" class="form-group col row">
                      <!-- Danh sách file đã upload thành công sẽ hiển thị tại đây -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col row" style="margin-left:2%">
                      <label class="col-form-label" for="fileDinhKemLyLich">Đính kèm lý lịch:</label>
                      <input type="file" class="form-control col-7" id="fileDinhKemLyLich" onchange="handleSelectFile('fileDinhKemLyLich', 'fileDinhKemLyLichDetail')" />
                      @* TODO: Giải pháp tạm thời *@
                      <input type="hidden" id="fileDinhKemLyLich_hidden" />
                    </div>
                    <div id="fileDinhKemLyLichDetail" class="form-group col row">
                      <!-- Danh sách file đã upload thành công sẽ hiển thị tại đây -->
                    </div>
                  </div>
                  <div class="row" style="display: flex; justify-content: flex-end;">
                    <button class="btn btn-success" onclick="check_result()">TIẾP TỤC</button>
                  </div>
                </div>

                <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                  <div class="row">
                    <div class="form-group col-6 row">
                      <label class="col-form-label" for="sltgc">Tác giả đầu</label>
                      <input class="form-control col" style="margin-left:6%" type="number" placeholder="Số lượng tác giả chính" id="sltgc" disabled value="1" min="1" max="1" oninput="clear_hinhthuc()" />
                    </div>
                    <div class="form-group col row" style="margin-left:2%">
                      <label class="col-form-label" for="sltgp">Số lượng tác giả phụ</label>
                      <input class="form-control col" style="margin-left:6%" type="number" placeholder="Số lượng tác giả phụ" id="sltgp" min="1" oninput="clear_hinhthuc()" />
                    </div>
                    @* TODO: remove *@
                    <div class="form-group col row" style="margin-left:2%; display:  none">
                      <label class="col-form-label" for="sltglh">Số lượng tác giả liên hệ</label>
                      <input class="form-control col" style="margin-left:6%" type="number" placeholder="Số lượng tác giả liên hệ" id="sltglh" min="1" oninput="clear_hinhthuc()" />
                    </div>
                  </div>

                  <div class="form-group col-2" id="tongtacgia">
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">THÔNG TIN TÁC GIẢ</h3>
                    </div>
                    @*Ban dt*@
                    <div class="table-container">

                      <table class="table table-bordered table-striped" style="width:100%" id="tbtacgiasl">
                        <tbody id="addtacgiasl2" onchange="loadtable()">
                        </tbody>
                      </table>
                    </div>
                    <div class="table-container">
                      <table class="table table-bordered table-striped" style="width:100%" id="tbtacgia2">
                        <tbody id="addtacgia" onchange="loadtable()">
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <button class="btn btn-success" onclick="stepperPrevious()">VỀ TRƯỚC</button>
                  <!--<input class="btn btn-info" id="inpsearchs" type="submit" value="Xác nhận gửi" onclick="handleSend()" style="margin-left:2%">-->
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <div class="modal-footer justify-content-between">
          @*<a class="btn btn-outline-danger" href="@Url.Action("DeTai","NguoiDung")">THOÁT</a>*@
          @* Sử dụng sự kiện đóng modal và reset form thay vì reload lại trang *@
          <button class="btn btn-outline-danger" data-dismiss="modal">ĐÓNG</button>
          <button type="button" class="btn btn btn-primary" id="btn-lvt" style="display: none; margin-left:-62%" onclick="handleSend('lvt')">LƯU VÀ ĐÓNG</button>
          <button type="button" class="btn btn btn-primary" id="btn-lvtm" style="display: none" onclick="luuVaThemMoi()">LƯU VÀ THÊM MỚI</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<style>
  div[class^="col"].file-item {
    position: relative;
    padding: 10px;
    background: #f5f5f5;
    border: 2px solid white;
  }

  .table-container {
    max-height: 300px; /* Đặt chiều cao tối đa của khu vực cuộn */
    overflow-y: auto; /* Cho phép cuộn dọc khi nội dung vượt quá kích thước */
    overflow-x: auto;
  }

  #tbtacgiasl {
    width: 100%; /* Đảm bảo bảng rộng 100% trong khu vực cuộn */
    /* Thêm các định dạng CSS khác cho bảng */
  }
</style>
<script>
    // không cho phép nhập nhỏ hơn 5 hoặc lớn hơn 12
    document.getElementById('tgThucHien').addEventListener('input', function () {
        var value = parseInt(this.value);
        var min = parseInt(this.min);
        var max = parseInt(this.max);
    
        if (value < min) {
            this.value = min;
        } else if (value > max) {
            this.value = max;
        }
    });
    
    // kiểm tra thay đổi loại sản phẩm dự kiến
    document.getElementById('sanPhamDuKien').addEventListener('change', function () {
        loadSPDuKien();
    });
    
    function loadSPDuKien() {
        var selectedValue = document.getElementById('sanPhamDuKien').value;
        var ketqua = document.getElementById("ketqua");
            
        if (selectedValue === 'DT_NCKH_Seminar') {
            ketqua.style.display = "block";
            ketqua.innerHTML = `<label>Tiết chuẩn:</label> <label id="tietchuan">0</label>
                                <label>Điểm: </label><label id="diem">10</label>`;
        } else if (selectedValue === 'HDSV') {
            ketqua.style.display = "block";
            ketqua.innerHTML = `<label>Tiết chuẩn:</label> <label id="tietchuan">0</label>
                                <label>Điểm: </label><label id="diem">1</label>`;
        }
    }

    function loadtable() {
        var sltgc = Number(document.querySelector('#sltgc').value);
        var sltgp = Number(document.querySelector('#sltgp').value);
        var sltglh = Number(document.querySelector('#sltglh').value);

        var sltg = sltgc + sltgp + sltglh;
        try {
            var tietchuan = Number(document.querySelector('#tietchuan').textContent);

        } catch {
            toastr.warning("Chọn hình thức thanh toán!");
        }
        try {
            var diem = Number(document.querySelector('#diem').textContent);
        } catch { }
        var table = document.getElementById("tablethanhtoan");
        var trtable = ``;
        try {
            var optionshdsv = document.querySelector('#loaiCongTrinh');
            var hdsv = optionshdsv.options[optionshdsv.selectedIndex].value;
        } catch { }
        try {
            var total = Number(document.querySelector('#totaltien').textContent);

        } catch {
            var total = 0;
        }
        var tongdonggop = 0;
        for (let j = 0; j < sltg; j++) {
            try {
                var donggop = Number(document.querySelector('#donggop-' + j).value);

            } catch { }
            tongdonggop += donggop;
            if (tongdonggop > 100) {

                try { document.querySelector('#donggop-' + j).value = 0; } catch { }
            }

        }
        if (tongdonggop > 100) {
            toastr.warning('Đóng góp quá 100%!');
        } else {
            for (let i = 0; i < sltg; i++) {
                trtable += `<tr>
                    <td>${i + 1}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>`;
            }
            table.innerHTML = trtable;
            for (let i = 0; i < sltg; i++) {
                try { var tacgia = document.querySelector('#inp-username-id-mail-' + i).value; } catch { }
                table.rows[i].cells[1].innerHTML = tacgia;
            }
            for (let i = 0; i < sltg; i++) {
                var optionscongtac = document.querySelector('#coquancongtac-' + i);
                try { var textcongtac = optionscongtac.options[optionscongtac.selectedIndex].textContent; } catch { }
                table.rows[i].cells[2].innerHTML = textcongtac;
            } for (let i = 0; i < sltg; i++) {
                var optionstg = document.querySelector('#tg-' + i);
                try { var texttg = optionstg.options[optionstg.selectedIndex].textContent; } catch { }
                table.rows[i].cells[3].innerHTML = texttg;
            }
            if (sltgc == 1 && sltgp > 0 && sltglh == 0) {
                if (sltgc == 1 && sltgp > 0 && sltglh == 0) {
                    for (let i = 0; i < sltg; i++) {
                        var coquan = table.rows[0].cells[2].textContent;
                        try { var donggop = Number(document.querySelector('#donggop-' + i).value); } catch { }
                        if (sltg > 1) {
                            if (coquan.includes("Quốc tế - Hutech (0%)") || coquan.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || coquan.includes(" --Chọn cơ quan công tác--")) {
                                table.rows[0].cells[4].innerHTML = `0`;
                                table.rows[0].cells[5].innerHTML = `0`;
                                table.rows[0].cells[6].innerHTML = `0`;
                                table.rows[0].cells[7].innerHTML = `0`;
                                if (table.rows[i].cells[2].textContent.includes("Cơ quan công tác duy nhất Hutech (100%)")) {
                                    table.rows[i].cells[4].innerHTML = `0`;
                                    table.rows[i].cells[5].innerHTML = `0`;
                                    table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                    if (hdsv == "HDSV") {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                                    } else {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan * 0.2 / sltgp}`;

                                    }

                                } if (table.rows[i].cells[2].textContent.includes("Hutech-Quốc tế (50%)")) {
                                    table.rows[i].cells[4].innerHTML = `0`;
                                    table.rows[i].cells[5].innerHTML = `0`;
                                    table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                    if (hdsv == "HDSV") {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                                    } else {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan / 2 * 0.2 / sltgp}`;
                                    }
                                } if (table.rows[i].cells[2].textContent.includes("Quốc tế - Hutech (0%)") || table.rows[i].cells[2].textContent.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || table.rows[i].cells[2].textContent.includes(" --Chọn cơ quan công tác--")) {
                                    table.rows[i].cells[4].innerHTML = `0`;
                                    table.rows[i].cells[5].innerHTML = `0`;
                                    table.rows[i].cells[6].innerHTML = `0`;
                                    table.rows[i].cells[7].innerHTML = `0`;
                                }
                            } if (coquan.includes("Hutech-Quốc tế (50%)")) {
                                table.rows[0].cells[4].innerHTML = `0`;
                                table.rows[0].cells[5].innerHTML = `0`;
                                table.rows[0].cells[6].innerHTML = `${diem / 2}`;
                                if (hdsv == "HDSV") {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                                } else {
                                    table.rows[0].cells[7].innerHTML = `${tietchuan / 2 * 0.8}`;
                                }
                                if (table.rows[i].cells[2].textContent.includes("Cơ quan công tác duy nhất Hutech (100%)")) {
                                    table.rows[i].cells[4].innerHTML = `0`;
                                    table.rows[i].cells[5].innerHTML = `0`;
                                    table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                    if (hdsv == "HDSV") {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                                    } else {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan * 0.2 / sltgp}`;
                                    }
                                } if (table.rows[i].cells[2].textContent.includes("Hutech-Quốc tế (50%)")) {
                                    table.rows[i].cells[4].innerHTML = `0`;
                                    table.rows[i].cells[5].innerHTML = `0`;
                                    table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                    if (hdsv == "HDSV") {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                                    } else {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan / 2 * 0.2 / sltgp}`;
                                    }
                                } if (table.rows[i].cells[2].textContent.includes("Quốc tế - Hutech (0%)") || table.rows[i].cells[2].textContent.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || table.rows[i].cells[2].textContent.includes(" --Chọn cơ quan công tác--")) {
                                    table.rows[i].cells[4].innerHTML = `0`;
                                    table.rows[i].cells[5].innerHTML = `0`;
                                    table.rows[i].cells[6].innerHTML = `0`;
                                    table.rows[i].cells[7].innerHTML = `0`;
                                }
                            } else if (coquan.includes("Cơ quan công tác duy nhất Hutech (100%)")) {
                                table.rows[0].cells[4].innerHTML = `0`;
                                table.rows[0].cells[5].innerHTML = `0`;
                                table.rows[0].cells[6].innerHTML = `${diem / 2}`;
                                if (hdsv == "HDSV") {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                                } else {
                                    table.rows[0].cells[7].innerHTML = `${tietchuan * 0.8}`;
                                }
                                if (table.rows[i].cells[2].textContent.includes("Cơ quan công tác duy nhất Hutech (100%)")) {
                                    table.rows[i].cells[4].innerHTML = `0`;
                                    table.rows[i].cells[5].innerHTML = `0`;
                                    table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                    if (hdsv == "HDSV") {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                                    } else {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan * 0.2 / sltgp}`;
                                    }
                                } if (table.rows[i].cells[2].textContent.includes("Hutech-Quốc tế (50%)")) {
                                    table.rows[i].cells[4].innerHTML = `0`;
                                    table.rows[i].cells[5].innerHTML = `0`;
                                    table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                    if (hdsv == "HDSV") {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                                    } else {
                                        table.rows[i].cells[7].innerHTML = `${tietchuan / 2 * 0.2 / sltgp}`;
                                    }
                                } if (table.rows[i].cells[2].textContent.includes("Quốc tế - Hutech (0%)") || table.rows[i].cells[2].textContent.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || table.rows[i].cells[2].textContent.includes(" --Chọn cơ quan công tác--")) {
                                    table.rows[i].cells[4].innerHTML = `0`;
                                    table.rows[i].cells[5].innerHTML = `0`;
                                    table.rows[i].cells[6].innerHTML = `0`;
                                    table.rows[i].cells[7].innerHTML = `0`;
                                }
                            }
                        }
                    }

                }
            }
            if (sltgc == 1 && sltgp == 0 && sltglh > 0) {
                for (let i = 1; i < sltg; i++) {
                    var coquan = table.rows[0].cells[2].textContent;
                    try { var donggop = Number(document.querySelector('#donggop-' + i).value); } catch { }
                    if (sltg > 1) {
                        if (coquan.includes("Quốc tế - Hutech (0%)") || coquan.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || coquan.includes(" --Chọn cơ quan công tác--")) {
                            table.rows[0].cells[4].innerHTML = `0`;
                            table.rows[0].cells[5].innerHTML = `0`;
                            table.rows[0].cells[6].innerHTML = `0`;
                            table.rows[0].cells[7].innerHTML = `0`;
                            if (table.rows[i].cells[2].textContent.includes("Cơ quan công tác duy nhất Hutech (100%)")) {
                                table.rows[i].cells[4].innerHTML = `0`;
                                table.rows[i].cells[5].innerHTML = `0`;
                                table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                if (hdsv == "HDSV") {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                                } else {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / sltglh}`;
                                }
                            } if (table.rows[i].cells[2].textContent.includes("Hutech-Quốc tế (50%)")) {
                                table.rows[i].cells[4].innerHTML = `0`;
                                table.rows[i].cells[5].innerHTML = `0`;
                                table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                if (hdsv == "HDSV") {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                                } else {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltglh}`;
                                }
                            } if (table.rows[i].cells[2].textContent.includes("Quốc tế - Hutech (0%)") || table.rows[i].cells[2].textContent.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || table.rows[i].cells[2].textContent.includes(" --Chọn cơ quan công tác--")) {
                                table.rows[i].cells[4].innerHTML = `0`;
                                table.rows[i].cells[5].innerHTML = `0`;
                                table.rows[i].cells[6].innerHTML = `0`;
                                table.rows[i].cells[7].innerHTML = `0`;
                            }
                        } if (coquan.includes("Hutech-Quốc tế (50%)")) {
                            table.rows[0].cells[4].innerHTML = `0`;
                            table.rows[0].cells[5].innerHTML = `0`;
                            table.rows[0].cells[6].innerHTML = `${diem / 2}`;
                            if (hdsv == "HDSV") {
                                table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                            } else {
                                table.rows[0].cells[7].innerHTML = `${tietchuan / sltg * 0.5}`;
                            }
                            if (table.rows[i].cells[2].textContent.includes("Cơ quan công tác duy nhất Hutech (100%)")) {
                                table.rows[i].cells[4].innerHTML = `0`;
                                table.rows[i].cells[5].innerHTML = `0`;
                                table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                if (hdsv == "HDSV") {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                                } else {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                                }
                            } if (table.rows[i].cells[2].textContent.includes("Hutech-Quốc tế (50%)")) {
                                table.rows[i].cells[4].innerHTML = `0`;
                                table.rows[i].cells[5].innerHTML = `0`;
                                table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                if (hdsv == "HDSV") {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                                } else {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                                }
                            } if (table.rows[i].cells[2].textContent.includes("Quốc tế - Hutech (0%)") || table.rows[i].cells[2].textContent.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || table.rows[i].cells[2].textContent.includes(" --Chọn cơ quan công tác--")) {
                                table.rows[i].cells[4].innerHTML = `0`;
                                table.rows[i].cells[5].innerHTML = `0`;
                                table.rows[i].cells[6].innerHTML = `0`;
                                table.rows[i].cells[7].innerHTML = `0`;
                            }
                        } else if (coquan.includes("Cơ quan công tác duy nhất Hutech (100%)")) {
                            table.rows[0].cells[4].innerHTML = `0`;
                            table.rows[0].cells[5].innerHTML = `0`;
                            table.rows[0].cells[6].innerHTML = `${diem / 2}`;
                            if (hdsv == "HDSV") {
                                table.rows[0].cells[7].innerHTML = `${tietchuan / sltg}`;
                            } else {
                                table.rows[0].cells[7].innerHTML = `${tietchuan / sltg}`;
                            }
                            if (table.rows[i].cells[2].textContent.includes("Cơ quan công tác duy nhất Hutech (100%)")) {
                                table.rows[i].cells[4].innerHTML = `0`;
                                table.rows[i].cells[5].innerHTML = `0`;
                                table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                if (hdsv == "HDSV") {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                                } else {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                                }
                            } if (table.rows[i].cells[2].textContent.includes("Hutech-Quốc tế (50%)")) {
                                table.rows[i].cells[4].innerHTML = `0`;
                                table.rows[i].cells[5].innerHTML = `0`;
                                table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                                if (hdsv == "HDSV") {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                                } else {
                                    table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                                }
                            } if (table.rows[i].cells[2].textContent.includes("Quốc tế - Hutech (0%)") || table.rows[i].cells[2].textContent.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || table.rows[i].cells[2].textContent.includes(" --Chọn cơ quan công tác--")) {
                                table.rows[i].cells[4].innerHTML = `0`;
                                table.rows[i].cells[5].innerHTML = `0`;
                                table.rows[i].cells[6].innerHTML = `0`;
                                table.rows[i].cells[7].innerHTML = `0`;
                            }
                        }
                    }
                }
            }

            else if (sltg > 2 && (sltgc + sltglh) > 1 && sltgp > 0) {
                for (let i = 0; i < sltg; i++) {
                    try { var donggop = Number(document.querySelector('#donggop-' + i).value); } catch { }

                    var coquan = table.rows[i].cells[2].textContent;
                    var optionstg1 = document.querySelector('#tg-' + i);
                    try { var texttg1 = optionstg1.options[optionstg1.selectedIndex].textContent; } catch { }

                    if (coquan.includes("Quốc tế - Hutech (0%)") || coquan.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || coquan.includes(" --Chọn cơ quan công tác--")) {
                        table.rows[i].cells[4].innerHTML = `0`;
                        table.rows[i].cells[5].innerHTML = `0`;
                        table.rows[i].cells[6].innerHTML = `0`;
                        table.rows[i].cells[7].innerHTML = `0`;
                    } else if (coquan.includes("Hutech-Quốc tế (50%)")) {
                        if (texttg1 == ("Tác giả chính") || texttg1 == ("Chủ nhiệm") || texttg1 == ("Báo cáo viên") || texttg1 == ("GVHD")) {
                            table.rows[i].cells[4].innerHTML = `0`;
                            table.rows[i].cells[5].innerHTML = `0`;
                            table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                            if (hdsv == "HDSV") {
                                table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                            } else {
                                table.rows[i].cells[7].innerHTML = `${(((tietchuan * 0.8) / (sltgc + sltglh))) / 2}`;
                            }

                        } else if (texttg1 == ("Tác giả phụ") || texttg1 == ("Thành viên") || texttg1 == ("Sinh viên")) {
                            table.rows[i].cells[4].innerHTML = `0`;
                            table.rows[i].cells[5].innerHTML = `0`;
                            table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                            if (hdsv == "HDSV") {
                                table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                            } else {
                                table.rows[i].cells[7].innerHTML = `${(tietchuan * 0.2) / 2 / sltgp}`;
                            }
                        } else if (texttg1 == ("Tác giả liên hệ") || texttg1 == ("Đồng chủ nhiệm") || texttg1 == ("Đồng GVHD")) {
                            table.rows[i].cells[4].innerHTML = `0`;
                            table.rows[i].cells[5].innerHTML = `0`;
                            table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                            if (hdsv == "HDSV") {
                                table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                            } else {
                                table.rows[i].cells[7].innerHTML = `${(tietchuan * 0.8) / 2 / (sltgc + sltglh)}`;
                            }
                        }

                    } else if (coquan.includes("Cơ quan công tác duy nhất Hutech (100%)")) {
                        if (texttg1 == ("Tác giả chính") || texttg1 == ("Chủ nhiệm") || texttg1 == ("Báo cáo viên") || texttg1 == ("GVHD")) {
                            table.rows[i].cells[4].innerHTML = `${(((total * 0.75) / (sltgc + sltglh)))}`;
                            table.rows[i].cells[5].innerHTML = `${(((total * 0.75) / (sltgc + sltglh))) * 0.9}`;
                            table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                            if (hdsv == "HDSV") {
                                table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                            } else {
                                table.rows[i].cells[7].innerHTML = `${(((tietchuan * 0.8) / (sltgc + sltglh)))}`;
                            }
                        } else if (texttg1 == ("Tác giả phụ") || texttg1 == ("Thành viên") || texttg1 == ("Sinh viên")) {
                            table.rows[i].cells[4].innerHTML = `${total * 0.25 / sltgp}`;
                            table.rows[i].cells[5].innerHTML = `${((total * 0.25) / sltgp) * 0.9}`;
                            table.rows[i].cells[6].innerHTML = `${diem / 2}`; if (hdsv == "HDSV") {
                                table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                            } else {
                                table.rows[i].cells[7].innerHTML = `${tietchuan * 0.2 / sltgp}`;
                            }
                        } else if (texttg1 == ("Tác giả liên hệ") || texttg1 == ("Đồng chủ nhiệm") || texttg1 == ("Đồng GVHD")) {
                            table.rows[i].cells[4].innerHTML = `${((total * 0.75) / (sltgc + sltglh))}`;
                            table.rows[i].cells[5].innerHTML = `${((total * 0.75) / (sltgc + sltglh)) * 0.9}`;
                            table.rows[i].cells[6].innerHTML = `${diem / 2}`;
                            if (hdsv == "HDSV") {
                                table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                            } else {
                                table.rows[i].cells[7].innerHTML = `${((tietchuan * 0.8) / (sltgc + sltglh))}`;
                            }
                        }
                    }

                }
            }

            if (sltgc == 1 && sltg == 1) {
                var coquan = table.rows[0].cells[2].textContent;
                try {
                    var donggop = Number(document.querySelector('#donggop-0').value);

                } catch { }

                if (coquan.includes("Quốc tế - Hutech (0%)") || coquan.includes("Cơ quan công tác trong nước - ngoài Hutech (0%)") || coquan.includes(" --Chọn cơ quan công tác--")) {
                    table.rows[0].cells[4].innerHTML = `0`;
                    table.rows[0].cells[5].innerHTML = `0`;
                    table.rows[0].cells[6].innerHTML = `0`;
                    table.rows[0].cells[7].innerHTML = `0`;

                } else if (coquan.includes("Hutech-Quốc tế (50%)")) {
                    table.rows[0].cells[4].innerHTML = `${total / 2}`;
                    table.rows[0].cells[5].innerHTML = `${(total / 2) * 0.9}`;
                    table.rows[0].cells[6].innerHTML = `${diem}`;
                    if (hdsv == "HDSV") {
                        table.rows[i].cells[7].innerHTML = `${tietchuan / 2 / sltg}`;
                    } else {
                        table.rows[0].cells[7].innerHTML = `${tietchuan / 2}`;
                    }
                } else {
                    table.rows[0].cells[4].innerHTML = `${total}`;
                    table.rows[0].cells[5].innerHTML = `${(total) * 0.9}`;
                    table.rows[0].cells[6].innerHTML = `${diem}`;
                    if (hdsv == "HDSV") {
                        table.rows[i].cells[7].innerHTML = `${tietchuan / sltg}`;
                    } else {
                        table.rows[0].cells[7].innerHTML = `${tietchuan}`;
                    }
                }
            }
        }
    }

    ////////alert("https://localhost:44364/api/NguoiDung/Get-user-id?input=" + _idUser);
    function Get_DonVi() {
      fetch(`https://localhost:44364/api/NguoiDung/Get-user-id?input=${_idUser}`, {
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            }
        })
        .then(function (response) {
            return response.json();
        });
    }
    /////////
    var tenuser = "";
    Get_DonVi();
    ////alert(_idUser);
    ////alert(sessionStorage.getItem("Khoa"));
    ////////alert(sessionStorage.getItem('Khoa'));
    var articleId = "";
    function clear() {
        document.getElementById("iddmxd").value = "";
        document.getElementById("tenSanPhamKHCN").value = "";
        document.getElementById('moTaSanPhamKHCN').value = "";
        document.getElementById('tgThucHien').value = "5";
        document.getElementById('sanPhamDuKien').value = "";
        document.getElementById('kinhPhi').value = "";
        document.getElementById('fileDangKy').value = "";
        document.getElementById('fileDangKyDetail').innerHTML = "";
        document.getElementById('fileThuyetMinh').value = "";
        document.getElementById('fileThuyetMinhDetail').innerHTML = "";
        document.getElementById('fileDinhKemLyLich').value = "";
        document.getElementById('fileDinhKemLyLichDetail').innerHTML = "";
        document.getElementById("btn-lvt").style.display = "none";
        document.getElementById("btn-lvtm").style.display = "none";
        stepperPrevious();
    }
    function luuVaThemMoi() {
        handleSend("lvtm");
        clear();
    }
    function check_result() {
        var tenspkhcn = document.querySelector('#tenSanPhamKHCN').value;
        var tgThucHien = document.getElementById('tgThucHien').value;
        var fileDangKy = document.getElementById('fileDangKy_hidden').value;
        var fileThuyetMinh = document.getElementById('fileThuyetMinh_hidden').value;
        var fileDinhKemLyLich = document.getElementById('fileDinhKemLyLich_hidden').value;
        
        if (document.getElementById("iddmxd").value == "") {
            document.getElementById("information-part").innerHTML = `<div class="row">
                        <div class="form-group col-6 row">
                            <label class="col-form-label" for="sltgc">Chủ nhiệm</label>
                            <input class="form-control col" style="margin-left:6%" type="number" placeholder="Số lượng chủ nhiệm" id="sltgc" disabled value="1" min="1" max="1" oninput="clear_hinhthuc()" />
                        </div>
                        <div class="form-group col row" style="margin-left:2%">
                            <label class="col-form-label" for="sltgp">Thành viên</label>
                            <input class="form-control col" style="margin-left:6%" type="number" placeholder="Số lượng thành viên" id="sltgp" min="1" oninput="clear_hinhthuc()" />
                        </div>
                        <!-- TODO: remove -->
                        <div class="form-group col row" style="margin-left:2%; display: none">
                            <label class="col-form-label" for="sltglh">Đồng chủ nhiệm</label>
                            <input class="form-control col" style="margin-left:6%" type="number" placeholder="Số lượng đồng chủ nhiệm" id="sltglh" min="1" oninput="clear_hinhthuc()" />
                        </div>
                    </div>
            
                    <div class="form-group col-2" id="tongtacgia">
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">THÔNG TIN TÁC GIẢ</h3>
                        </div>
                        @*Ban dt*@
                        <div class="table-container">
            
                            <table class="table table-bordered table-striped" style="width:100%" id="tbtacgiasl">
                                <tbody id="addtacgiasl2" onchange="loadtable()">
                                </tbody>
                            </table>
                        </div>
                        <div class="table-container">
                            <table class="table table-bordered table-striped" style="width:100%" id="tbtacgia2">
                                <tbody id="addtacgia" onchange="loadtable()">
                                </tbody>
                            </table>
                        </div>
                    </div>
            
                    <button class="btn btn-success" onclick="stepperPrevious()">VỀ TRƯỚC</button>`;
        }
        
        if (tenspkhcn == "") {
            return toastr.warning("Vui lòng nhập tên đề tài!");
        }
        if (tgThucHien < 5 && tgThucHien > 12) {
            return toastr.warning("Vui lòng chọn thời gian thực hiện hợp lệ (từ 5 đến 12 tháng)!");
        }
        if (fileDangKy == "") {
           return toastr.warning("Vui lòng tải lên phiếu đăng ký đề tài!");
        }
        if (fileThuyetMinh == "") {
           return toastr.warning("Vui lòng tải lên phiếu thuyết minh đề tài!");
        }
        if (fileDinhKemLyLich == "") {
           return toastr.warning("Vui lòng thêm đính kèm lý lịch!");
        }

        stepper.next()

        document.getElementById("btn-lvt").style.display = "unset";
        document.getElementById("btn-lvtm").style.display = "unset";
    }
  function stepperPrevious() {
      stepper.previous();

      document.getElementById("btn-lvt").style.display = "none";
      document.getElementById("btn-lvtm").style.display = "none";
  }

  document.addEventListener('DOMContentLoaded', function () {
    // BS-Stepper Init
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    
    // Sự kiện khi modal mở
    $('#modal-xl-create').on('shown.bs.modal', function () { });
    
    // Sự kiện khi modal đóng
    $('#modal-xl-create').on('hidden.bs.modal', function () {
      clear();
    });
  });

    //kê khai khối lượng gv
    var apiQDGV = "https://localhost:44364/api/QuyDoiGV/Get-spkhcn?spkhcn=";
    //
    linkapiID2 = "https://localhost:44364/api/QuyDoiGV/Get-id?id=";
    linkapiID3NCV = "https://localhost:44364/api/ThanhToanNCV/Get-id?id=";

  // Hàm rút gọn tên file
  function shortenFileName(fileName, maxLength = 15) {
    // Kiểm tra độ dài fileName, nếu nhỏ hơn hoặc bằng maxLength thì không cần rút gọn
    if (fileName.length <= maxLength) return fileName;

    const extIndex = fileName.lastIndexOf('.'); // Lấy vị trí dấu chấm cuối cùng (phần mở rộng file)
    const extension = extIndex !== -1 ? fileName.slice(extIndex) : ''; // Phần mở rộng file (nếu có)
    const baseName = fileName.slice(0, extIndex); // Phần tên trước dấu chấm

    // Giữ lại 7 ký tự đầu và 4 ký tự cuối, giữa là '...'
    const start = baseName.slice(0, 7);
    const end = baseName.slice(-4);

    return `${start}...${end}${extension}`;
  }

  // Hàm xử lý khi chọn file
  function handleSelectFile(documentId, docPreviewId) {
    var tenDeDai = document.getElementById("tenSanPhamKHCN").value;
    if (tenDeDai != "") {
        uploadFiles(documentId, docPreviewId);
    } else {
        toastr.warning("Vui lòng nhập tên đề tài");
    }
  }

  // Hàm upload file
  function uploadFiles(documentId, docPreviewId) {
      var fileInput = document.getElementById(documentId);
      var file = fileInput.files[0];
      const userId = _idUser;
      const valuetenbaibao = document.querySelector('#tenSanPhamKHCN').value;
  
      const maxFileSize = 10 * 1024 * 1024; // Giới hạn dung lượng là 10MB
  
      if (file.length === 0) {
        toastr.warning('Vui lòng chọn tệp tin để tải lên.');
        return;
      }
  
      // Kiểm tra dung lượng file
      if (file.size > maxFileSize) {
        toastr.error(`Tệp tin ${file.name} vượt quá giới hạn dung lượng 10MB.`);
        return;
      }
      
      // Tạo FormData để upload file dạng binary
      let formData = new FormData();
      formData.append('file', file);
      formData.append('fileName', file.name);
      formData.append('userId', userId);
      formData.append('valuetenbaibao', valuetenbaibao);
      
      $.ajax({
        url: '/Article/SaveFile',
        type: 'POST',
        data: formData,
        processData: false, // Không xử lý dữ liệu
        contentType: false, // Không thiết lập tiêu đề content-type
        success: function (result) {
          if (result.success) {
            toastr.success('Tải lên thành công.');
            document.getElementById(`${documentId}_hidden`).value = result.filePath;
            displayFileUploaded(result.filePath, docPreviewId);
          } else {
            toastr.error(result.message);
          }
        },
        error: function () {
          toastr.error('Đã xảy ra lỗi khi tải lên.');
        }
      });
    }

  // Hàm load hiển thị danh sách file đã upload dùng xem chi tiết
  function loadFileUploaded(fileUrl, documentId) {
    const uploadedFilesContainer = document.getElementById(documentId);
    uploadedFilesContainer.innerHTML = ''; // Xóa nội dung cũ

    const fileDiv = document.createElement('div');
    fileDiv.className = 'col-4 file-item';

    const fileLink = document.createElement('a');
    fileLink.href = fileUrl;
    fileLink.textContent = shortenFileName(fileUrl.split('/').pop()); // Hiển thị tên file đã rút gọn
    fileLink.target = '_blank';
    fileLink.className = 'd-block';

    fileDiv.appendChild(fileLink);
    uploadedFilesContainer.appendChild(fileDiv);
  }

  // Hàm hiển thị danh sách file đã upload
  function displayFileUploaded(fileUrl, documentId) {
    const uploadedFilesContainer = document.getElementById(documentId);
    uploadedFilesContainer.innerHTML = ''; // Xóa nội dung cũ

    const fileDiv = document.createElement('div');
    fileDiv.className = 'col-4 file-item';

    const fileLink = document.createElement('a');
    fileLink.href = fileUrl;
    fileLink.textContent = shortenFileName(fileUrl.split('/').pop()); // Hiển thị tên file đã rút gọn
    fileLink.target = '_blank';
    fileLink.className = 'd-block';

    const removeButton = document.createElement('button');
    removeButton.textContent = 'Xóa';
    removeButton.className = 'btn btn-danger btn-sm';
    removeButton.style.position = 'absolute';
    removeButton.style.top = '5px';
    removeButton.style.right = '5px';
    removeButton.onclick = function () {
      deleteUploadedFile(fileUrl, fileDiv);
    };

    fileDiv.appendChild(fileLink);
    fileDiv.appendChild(removeButton);
    uploadedFilesContainer.appendChild(fileDiv);
  }

  // Hàm xóa file đã upload
  function deleteUploadedFile(fileUrl, fileDiv) {
    if (confirm("Bạn có chắc chắn muốn xóa tệp này không?")) {
      $.ajax({
        url: '/Article/DeleteFile',
        type: 'POST',
        data: JSON.stringify({ fileUrl: fileUrl }),
        contentType: 'application/json',
        success: function (result) {
          if (result.success) {
            toastr.success('Xóa tệp thành công.');
            // Xóa phần tử của file đã xóa khỏi giao diện
            fileDiv.remove();
          } else {
            toastr.error('Xóa tệp thất bại.');
          }
        },
        error: function () {
          toastr.error('Đã xảy ra lỗi khi xóa tệp.');
        }
      });
    }
  }

    document.addEventListener("DOMContentLoaded", function () {


        if (_ngach.includes("GV")) {
            //document.getElementById("create").disabled = true;
        } else {
            //document.getElementById("create").disabled = false;
        }
        ////////
        var timeline = document.getElementById("timeline");
        timeline.addEventListener("change", function () {
            ////alert("a");
            $(function () {
                $('#example1').DataTable().clear().destroy();

            });
            getData();

        });
        ////alert(_idUser);
        function getData() {
            var timeline = document.getElementById("timeline").value;
          fetch('https://localhost:44364/api/DanhMucXetDuyetSinhVien/Get-by-userid?userid=' + _idUser + "&startTimes=" + timeline, {
                headers: {
                    'Authorization': 'Bearer ' + _token,
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    var tongTien = 0;
                    var stt = 1;
                    const tbody = document.querySelector('#example1 tbody');
                    tbody.innerHTML = "";
                    data.forEach(function (row) {
                        ////////alert(row.groupUser);
                        if (row.status == "Đang đợi duyệt") {
                            txtcolor = "rgba(77, 77, 79, 1)";
                            bgcolor = "rgba(77, 77, 79, 0.07)";
                        } else if (row.status == "Duyệt lần 1") {
                            txtcolor = "rgba(27, 162, 180, 1)";
                            bgcolor = "rgba(27, 162, 180, 0.07)";
                        } else if (row.status == "Duyệt lần 2") {
                            txtcolor = "rgba(16, 117, 187, 1)";
                            bgcolor = "rgba(16, 117, 187, 0.07)";
                        } else if (row.status == "Từ chối") {
                            txtcolor = "rgba(200, 16, 47, 1)";
                            bgcolor = "rgba(200, 16, 47, 0.07)";
                        } else {
                            txtcolor = "rgba(42, 148, 70, 1)";
                            bgcolor = "rgba(42, 148, 70, 0.07)";
                        };
                        var grtg = row.groupUser;

                        var tacgia = getOneAuthor(grtg, _idUser);
                        ////////alert(tacgia + "/// " + _idUser);
                        
                        var catName = getCategory(row.category); 
                        
                        var tr = document.createElement('tr');
                        var ccs = "";
                        if (row.status == "Từ chối") {
                            ccs = "Yêu cầu chỉnh sửa";
                        } else {
                            ccs = row.status;
                        }
                        try {
                            tr.innerHTML =
                                "<td>" + stt + "</td>" +
                                "<td>" + row.tenBaiBao + "</td>" +
                                "<td>" + row.thoiGianThucHien + "</td>" +
                                "<td>" + tacgia[3] + "</td>" +
                                "<td>" + catName + "</td>" +
                                "<td>" + formatCurrency(row.kinhPhi) + "</td>" +
                                "<td width='15%' align='center'>" + row.ghiChu + "</td>" +
                                "<td><span class='badge' style='color:" + txtcolor + "!important; background-color:" + bgcolor + "!important;'>" + ccs + "</span></td>" +
                                "<td width='3%'><a type='button' data-toggle='modal' data-target='#modal-xl-create' data-backdrop='static' onclick='xemchitiet(" + row.idDanhMuc + ")'><i class='fas fa-edit' style='color: #3276b1;'></i></a></td>" +
                                "<td width='3%'><a type='button' onclick='deleteItem(" + row.idDanhMuc + ")'><i class='fas fa-trash-alt' style='color: #c82333;'></i></a></td>";

                            var date = new Date(row.dateSubmit_now);
                            var day = date.getDate().toString().padStart(2, "0");
                            var month = (date.getMonth() + 1).toString().padStart(2, "0");
                            var year = date.getFullYear();
                            tr.setAttribute("title", `Dữ liệu bài báo này được cập nhật vào lúc ${day}/${month}/${year}`);

                            tbody.appendChild(tr);
                            stt += 1;
                            tongTien += row.kinhPhi;
                        } catch { }

                    });
                    document.getElementById("tongKinhPhi").textContent = formatCurrency(tongTien);
                    $(function () {
                        $("#example1").DataTable({
                          "paging": true,
                          "searching": true,
                          "ordering": true,
                          "info": true,
                          "lengthChange": false,
                          "autoWidth": false,
                          "responsive": false, // Đặt về false để sử dụng scrollX hiệu quả
                          "scrollX": true,  // Kích hoạt scroll ngang
                          "scrollCollapse": true, // Tự động thu gọn chiều rộng
                        })
                    });
                });

        }
        getData();
    });
  
    function getCategory(string) {
        if (string == "DT_NCKH_Seminar") {
            return "Đề tài NCKH/Seminar"
        } else if (string == "HDSV") {
            return "Hướng dẫn sinh viên"
        }
    }


    var global_dmxd = "";
    function xemchitiet(iddm) {
        fetch('https://localhost:44364/api/DanhMucXetDuyetSinhVien/Get-id?IDDanhMuc=' + iddm, {
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())
            .then(data => {
                global_dmxd = data.type;
                articleId = data.idDanhMuc;
                ////alert(data.status);
                if (data.status == "Đang đợi duyệt") {
                    document.getElementById("btn-lvt").disabled = false;
                    document.getElementById("btn-lvtm").disabled = false;
                } else if (data.status == "Từ chối") {
                    document.getElementById("btn-lvt").disabled = false;
                    document.getElementById("btn-lvtm").disabled = false;
                } else {
                    document.getElementById("btn-lvt").remove();
                    document.getElementById("btn-lvtm").remove();
                }
                
                sessionStorage.setItem("NguoiKhai", data.userId);
                sessionStorage.setItem("GhiChu", data.ghiChu);

                document.getElementById("iddmxd").value = data.idDanhMuc;
                document.getElementById("tenSanPhamKHCN").value = data.tenBaiBao;
                document.getElementById("moTaSanPhamKHCN").value = data.moTaBaiBao;
                document.getElementById("tgThucHien").value = data.thoiGianThucHien;
                document.getElementById("sanPhamDuKien").value = data.category;
                document.getElementById("kinhPhi").value = data.kinhPhi;
                
                loadSPDuKien();

                document.getElementById("fileDangKy").style.display = "none";
                loadFileUploaded(data.fileDangKy, 'fileDangKyDetail');
                document.getElementById("fileDangKy_hidden").value = data.fileDangKy;
                document.getElementById("fileThuyetMinh").style.display = "none";
                loadFileUploaded(data.fileThuyetMinh, 'fileThuyetMinhDetail');
                document.getElementById("fileThuyetMinh_hidden").value = data.fileThuyetMinh;
                document.getElementById("fileDinhKemLyLich").style.display = "none";
                loadFileUploaded(data.fileDinhKemLyLich, 'fileDinhKemLyLichDetail');
                document.getElementById("fileDinhKemLyLich_hidden").value = data.fileDinhKemLyLich;
                
                @* TODO: xử lý chia cột hiển thị cho file kiểm duyệt *@
                // File sau khi kiểm duyệt sẽ từ cột bên trái hiển thị sang cột bên phải 

                var tgp = 0;
                var tgc = 1;
                const kekhaitg = render_tg(data.groupUser);
                kekhaitg.forEach(function (row) {
                    if (row[3].includes("Tác giả phụ") || row[3].includes("Báo cáo viên") || row[3].includes("Tác giả chính")) {
                        tgp += 1;
                    }
                });

                document.querySelector('#sltgp').value = tgp - tgc;
                ///////
                var a = ``;
                var sltgc = tgc;
                let i = 0;

                document.querySelector('#tbtacgia2').innerHTML = `<thead style="background-color: #17a2b8;color: white;">
                        <th width="2%">STT</th>
                        <th width="15%">Mã nhân viên</th>
                        <th width="15%">Cơ quan công tác</th>
                        <th width="15%">Loại tác giả</th>
                        <th width="10%">Tổng nhận trước thuế</th>
                        <th width="10%">Thực nhận</th>
                        <th width="5%">Điểm</th>
                        <th width="5%">Tiết chuẩn</th>
                        </thead>
                        <tbody id="tablethanhtoan">
                        </tbody>`;

                kekhaitg.forEach(async function (row) {
                    var vop2 = ``;
                    if (row[2] == " --Chọn cơ quan công tác--") {
                        vop = `<div class="form-group">
                         <select name="coquancongtac" onchange="checknullhutech(${i})" value="${row[1]}" id="coquancongtac-${i}" class="form-control">
                            <option value="0" selected> --Chọn cơ quan công tác--</option>
                            <option value="1" >Cơ quan công tác duy nhất Hutech (100%)</option>
                            <option value="0.5">Hutech-Quốc tế (50%)</option>
                            <option value="0">Quốc tế - Hutech (0%)</option>
                            <option value="0">Cơ quan công tác trong nước - ngoài Hutech (0%)</option>
                        </select>
                    </div>`;
                    }
                    if (row[2] == "Cơ quan công tác duy nhất Hutech (100%)") {
                        vop = `<div class="form-group">
                         <select name="coquancongtac" onchange="checknullhutech(${i})" value="${row[1]}" id="coquancongtac-${i}" class="form-control">
                            <option value="0"> --Chọn cơ quan công tác--</option>
                            <option value="1" selected>Cơ quan công tác duy nhất Hutech (100%)</option>
                            <option value="0.5">Hutech-Quốc tế (50%)</option>
                            <option value="0">Quốc tế - Hutech (0%)</option>
                            <option value="0">Cơ quan công tác trong nước - ngoài Hutech (0%)</option>
                        </select>
                    </div>`;
                    }
                    if (row[2] == "Hutech-Quốc tế (50%)") {
                        vop = `<div class="form-group">
                         <select name="coquancongtac" onchange="checknullhutech(${i})" id="coquancongtac-${i}" class="form-control">
                            <option value="0"> --Chọn cơ quan công tác--</option>
                            <option value="1" >Cơ quan công tác duy nhất Hutech (100%)</option>
                            <option value="0.5" selected>Hutech-Quốc tế (50%)</option>
                            <option value="0">Quốc tế - Hutech (0%)</option>
                            <option value="0">Cơ quan công tác trong nước - ngoài Hutech (0%)</option>
                        </select>
                    </div>`;
                    }
                    if (row[2] == "Quốc tế - Hutech (0%)") {
                        vop = `<div class="form-group">
                         <select name="coquancongtac" onchange="checknullhutech(${i})" id="coquancongtac-${i}" class="form-control">
                            <option value="0"> --Chọn cơ quan công tác--</option>
                            <option value="1" >Cơ quan công tác duy nhất Hutech (100%)</option>
                            <option value="0.5" >Hutech-Quốc tế (50%)</option>
                            <option value="0" selected>Quốc tế - Hutech (0%)</option>
                            <option value="0">Cơ quan công tác trong nước - ngoài Hutech (0%)</option>
                        </select>
                    </div>`;
                    }
                    if (row[2] == "Cơ quan công tác trong nước - ngoài Hutech (0%)") {
                        vop = `<div class="form-group">
                         <select name="coquancongtac" onchange="checknullhutech(${i})" id="coquancongtac-${i}" class="form-control">
                            <option value="0"> --Chọn cơ quan công tác--</option>
                            <option value="1" >Cơ quan công tác duy nhất Hutech (100%)</option>
                            <option value="0.5" >Hutech-Quốc tế (50%)</option>
                            <option value="0" >Quốc tế - Hutech (0%)</option>
                            <option value="0" selected>Cơ quan công tác trong nước - ngoài Hutech (0%)</option>
                        </select>
                    </div>`;
                    }
                    if (row[3].includes("Tác giả phụ")) {
                        vop2 = `<option>Tác giả phụ</option>`;
                    }
                    if (row[3].includes("Tác giả chính")) {
                        vop2 = `<option>Tác giả chính</option>`;
                    }

                    //document.querySelector('#tongtacgia').innerHTML = `<a>Tổng số tác giả: <a id="tongsltg">${sltg}</a></a>`;
                    if (sltgc == 1) {
                        a += `<tr><td>${i += 1}</td >
                        <td ><input class="form-control" type="text" value="${row[1]}" placeholder="Nhập Mã GV/Tên tác giả phụ thuộc HUTECH" id="inp-username-id-mail-${i - 1}"   oninput="inpsearch(${i - 1},render_user)" />
                        <div id="themtg" style="display: flex">
                            <div width: 50%">
                                <dl id="dl-user-${i - 1}">
                                </dl>
                            </div>
                        </div></td>
                        <td >${vop}</td>
                        <td>
                        <div class="form-group">
                         <select name="coquancongtac-${i - 1}" onchange="checknullhutech(${i + 1})" id="tg-${i - 1}" class="form-control" disabled>

                            <option>${row[3]}</option>

                             </select></td>

                             </tr>`;
                        document.querySelector('#addtacgia').innerHTML = ``;
                        try { document.querySelector('#addtacgia').innerHTML = a; } catch { }

                    }

                    else if (sltgc > 1) {
                        toastr.warning("Duy nhất 1 tác giả chính!");
                    }
                    try { document.querySelector('#addtacgia').innerHTML = a; } catch { }

                    /////
                    await Get_issn(renderGet_issn);
                    //document.querySelector('#tbtacgiasl').EditData = false;
                });//

            });
    }



    setInterval(function () { EditData(); }, 1000);
    function EditData() {
        if (global_dmxd != "") {

            var radios2 = document.querySelectorAll('input[name="yc"]');
            for (var i = 0; i < radios2.length; i++) {
                if (radios2[i].value == global_dmxd) {

                    radios2[i].click();
                    global_dmxd = "";
                    break;
                }
            }
        }
    }

    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }
    function changeStatus() {
        var idDanhMuc = document.getElementById("idDanhMuc").value;
        var status = document.getElementById("status").value;
        fetch(`https://localhost:44364/api/DanhMucXetDuyetSinhVien/${idDanhMuc}`, {
            method: 'PUT',
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(status)
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    toastr.success('Cập nhật trạng thái thành công!');
                }
            })
            .catch(error => {
                toastr.warning('Có lỗi xảy ra', error);
            });
    }

    function render_kekhaitg(tg) {
        const tgct = tg.split(";");
        return tgct;
    }
    function render_tg(str) {
        const lista = [];
        const tgs = str.split("$");
        tgs.forEach(function (tg) {
            var x = render_kekhaitg(tg);
            lista.push(x);
        });
        return lista;
    }

    function getOneAuthor(str, userId) {
        const tgs = str.split("$");
        var result = null;
        tgs.forEach(function (tg) {
            if (tg.includes(userId)) {
                result = render_kekhaitg(tg);
            }
        });
        return result;
    }
    //Xuất file excel
    function ExportToExcelDeTaiUser(xuat) {
        var timeline = document.getElementById("timeline").value;
        if (!timeline) {
            timeline = "2020-01-01 00:00:00.0000000";
        }
        var url = 'https://localhost:44364/api/DanhMucXetDuyetSinhVien/ExcelUserid?userid=' + _idUser + '&xuat=' + xuat + '&startTime=' + encodeURIComponent(timeline);

        fetch(url, {
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            }
        })

            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(new Blob([blob]));
                const link = document.createElement('a');
                link.href = url;
                if (xuat == 1) {
                    link.setAttribute('download', 'NCM.xlsx');
                }
                else if (xuat == 2) {
                    link.setAttribute('download', 'KhoaVien.xlsx');
                }
                else if (xuat == 4) {
                    link.setAttribute('download', 'NghienCuuVien.xlsx');
                }
                else {
                    link.setAttribute('download', 'Truong.xlsx');
                }
                document.body.appendChild(link);
                link.click();
                link.parentNode.removeChild(link);
            })
    }
    function deleteItem(id) {
        if (confirm("Xác nhận xóa?")) {
            fetch("https://localhost:44364/api/DanhMucXetDuyetSinhVien/Delete/" + id, {
                method: 'DELETE',
                headers: {
                    'Authorization': 'Bearer ' + _token,
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        toastr.success('Xóa dữ liệu thành công!');
                        window.location.href = '/NguoiDung/DeTaiSinhVien';
                    }
                    else if (response.status == 400) {
                        toastr.warning('Không có quyền xóa với trạng thái hiện tại');
                    } else {
                        toastr.warning('Có lỗi xảy ra');
                    }
                });
        }
    }
    try {
        clear_hinhthuc();
        themtacgia();
    } catch { }

    function checknullhutech(i) {
        try {
            var inp = document.querySelector('#inp-username-id-mail-' + i).value;
            var donggop = document.querySelector('#donggop-' + i);
        } catch { }
        var option = document.querySelector('#coquancongtac-' + i);
        var coquancongtac = option.options[option.selectedIndex].textContent;
        if (inp == "" && coquancongtac == "Cơ quan công tác duy nhất Hutech (100%)") {
            toastr.warning('Vui lòng nhập mã NV HUTECH')
            option.options[0].selected = true;
        } else if (inp == "" && coquancongtac == "Hutech-Quốc tế (50%)") {
            toastr.warning('Vui lòng nhập mã NV HUTECH')
            option.options[0].selected = true;
        }
    }


    //Load tác giả table
    function themtacgia() {
        try {
            var a = ``;
            var sltgc = Number(document.querySelector('#sltgc').value);
            var sltgp = Number(document.querySelector('#sltgp').value);
            var sltglh = Number(document.querySelector('#sltglh').value);
            var valuerank = _ngach;
            var optionslh = document.querySelector('#loaiHinhKeKhai');
            var valueloaihinh = optionslh.options[optionslh.selectedIndex].textContent;
            var selectElement = document.getElementById("loaiCongTrinh");
            var selectedValue = selectElement.value;
            var selectedValueYc = document.querySelector('input[name="yc"]:checked').value;
            ////////alert(valueloaihinh);
            var sltg = sltgc + sltgp + sltglh;
        } catch { }
        let i = 0;
        //toastr.warning(valueloaihinh + valuerank);
        document.querySelector('#tbtacgia2').innerHTML = `<thead style="background-color: #17a2b8;color: white;">
        <th width="2%">STT</th>
        <th width="15%">Mã nhân viên</th>
        <th width="15%">Cơ quan công tác</th>
        <th width="15%">Loại tác giả</th>
        <th width="10%">Tổng nhận trước thuế</th>
        <th width="10%">Thực nhận</th>
        <th width="5%">Điểm</th>
        <th width="5%">Tiết chuẩn</th>
        </thead>
        <tbody id="tablethanhtoan">
        </tbody>`;
        
        for (i = 0; i < sltgc; i++) {
            a += `<tr><td>${i + 1}</td>
                    <td ><input class="form-control" type="text" placeholder="Nhập Mã GV/Tên tác giả phụ thuộc HUTECH"   id="inp-username-id-mail-${i}" oninput="inpsearch(${i},render_user)" />
                    <div id="themtg" style="display: flex">
                        <div width: 50%">
                            <dl id="dl-user-${i}">
                            </dl>
                        </div>
                    </div></td>
                    <td ><div class="form-group">
                     <select name="coquancongtac" onchange="checknullhutech(${i})" id="coquancongtac-${i}" class="form-control">
                        <option value="0"> --Chọn cơ quan công tác--</option>

                        <option value="1">Cơ quan công tác duy nhất Hutech (100%)</option>
                        <option value="0.5">Hutech-Quốc tế (50%)</option>
                        <option value="0">Quốc tế - Hutech (0%)</option>
                        <option value="0">Cơ quan công tác trong nước - ngoài Hutech (0%)</option>
                    </select>
                </div></td>
                    <td>
                    <div class="form-group">
                     <select name="coquancongtac" onchange="checknullhutech(${i})" id="tg-${i}" class="form-control" disabled>
                         <option >Tác giả chính</option>
                         </select></td></tr>`;
        }
        for (i; i < (sltgp + sltgc); i++) {
            a += `<tr><td>${i + 1}</td>
                    <td ><input class="form-control" type="text" placeholder="Nhập Mã GV/Tên tác giả phụ thuộc HUTECH" id="inp-username-id-mail-${i}"   oninput="inpsearch(${i},render_user)" />
                    <div id="themtg" style="display: flex">
                        <div width: 50%">
                            <dl id="dl-user-${i}">
                            </dl>
                        </div>
                    </div></td>
                    <td ><div class="form-group">
                     <select name="coquancongtac" onchange="checknullhutech(${i})" id="coquancongtac-${i}" class="form-control">
                        <option value="0"> --Chọn cơ quan công tác--</option>
                        <option value="1">Cơ quan công tác duy nhất Hutech (100%)</option>
                        <option value="0.5">Hutech-Quốc tế (50%)</option>
                        <option value="0">Quốc tế - Hutech (0%)</option>
                        <option value="0">Cơ quan công tác trong nước - ngoài Hutech (0%)</option>
                    </select>
                </div></td>
                    <td>
                    <div class="form-group">
                     <select name="coquancongtac" onchange="checknullhutech(${i})" id="tg-${i}" class="form-control" disabled>

                         <option>Tác giả phụ</option>
                         </td>
                         </tr>`;
        } for (i; i < (sltgc + sltglh + sltgp); i++) {
            a += `<tr><td>${i + 1}</td>
                    <td ><input class="form-control" type="text" placeholder="Nhập Mã GV/Tên tác giả phụ thuộc HUTECH" id="inp-username-id-mail-${i}"   oninput="inpsearch(${i},render_user)" />
                    <div id="themtg" style="display: flex">
                        <div width: 50%">
                            <dl id="dl-user-${i}">
                            </dl>
                        </div>
                    </div></td>
                    <td ><div class="form-group">
                     <select name="coquancongtac" onchange="checknullhutech(${i})" id="coquancongtac-${i}" class="form-control">
                        <option value="0"> --Chọn cơ quan công tác--</option>

                        <option value="1">Cơ quan công tác duy nhất Hutech (100%)</option>
                        <option value="0.5">Hutech-Quốc tế (50%)</option>
                        <option value="0">Quốc tế - Hutech (0%)</option>
                        <option value="0">Cơ quan công tác trong nước - ngoài Hutech (0%)</option>
                    </select>
                </div></td>
                    <td>
                    <div class="form-group">
                     <select name="coquancongtac" onchange="checknullhutech(${i})" id="tg-${i}" class="form-control" disabled>

                         <option>Tác giả liên hệ</option>
                         </td></tr>`;
        }

        try { document.querySelector('#addtacgia').innerHTML = a; } catch { }
    }

    //Hiển thị tác giả
    function render_user(users) {
        var sltgc = Number(document.querySelector('#sltgc').value);
        var sltgp = Number(document.querySelector('#sltgp').value);
        var sltglh = Number(document.querySelector('#sltglh').value);
        var sltg = sltgc + sltgp + sltglh;
        for (let i = 0; i < sltg; i++) {
            try {
                var tg = document.querySelector('#inp-username-id-mail-' + i);
                tg.oninput = function () {
                    var list = document.querySelector('#dl-user-' + i);
                    list.innerHTML = ``;
                    inpsearch(i, render_user);
                    var htmls = users.map(function (user) {
                        return `<dt value="${user.idUser}" style="border-style: groove;"><button onclick="btnadd('${i}','${user.idUser}','${user.hoTen}')" type="button" class="btn btn-success">Thêm tác giả </button>
${user.hoTen} - ${user.donViCongTac}</dt>`;
                    });
                    list.innerHTML = htmls.join('');
                }
            } catch { }
        }
    }
    // Thêm mã tên tác giả
    function btnadd(id, iduser, name) {
        var sltgc = Number(document.querySelector('#sltgc').value);
        var sltgp = Number(document.querySelector('#sltgp').value);
        var sltglh = Number(document.querySelector('#sltglh').value);
        var sltg = sltgc + sltgp + sltglh;

        var tg = document.querySelector('#inp-username-id-mail-' + id);
        tg.value = ``;
        if (tg.value == "") {
            document.querySelector('#dl-user-' + id).innerHTML = ``;
            tg.value = tg.value + iduser + " - " + name;
        }
        try {
            for (let i = 0; i > sltg; i++) {
                var tg1 = document.querySelector('#inp-username-id-mail-' + i);
                for (let j = 1; j > sltg; i++) {
                    var tg2 = document.querySelector('#inp-username-id-mail-' + j);
                    if (tg1 == tg2) {
                        //////alert("Trùng");
                    }
                }
            }
        } catch { }

        document.querySelector('#dl-user-' + id).innerHTML = ``;
        loadtable();
    }
    // Xử lý công thức tính ...

    // Tìm kiếm tác giả
    function inpsearch(idinput, callback) {
        try {
            var valueinp = document.querySelector('#inp-username-id-mail-' + idinput).value;

        } catch { }
        ////////alert(valueinp);
        if (valueinp == "") {
            document.querySelector('#dl-user-' + idinput).innerHTML = ``;
        }
        fetch("https://localhost:44364/api/NguoiDung/Get-user?input=" + valueinp, {
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            }
        })
            .then(function (response) {

                return response.json();
            })
            .then(callback)
    }
    ////////alert(_token);
    // Load table clear
    function clear_hinhthuc() {
        document.querySelector('#tbtacgiasl').innerHTML = `<thead style="background-color: #17a2b8;color: white;">
            <th width="2%">STT</th>
            <th width="20%">Mã nhân viên</th>
            <th width="20%">Cơ quan công tác</th>
            <th width="10%">Loại tác giả</th>
            </thead>
    
            <tbody id="addtacgia" onchange="loadtable()">
            </tbody>`;
        themtacgia();

    }
    function send(data, a) {
        var linksend = "https://localhost:44364/api/DanhMucXetDuyetSinhVien/Send";
        var options = {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        };
        fetch(linksend, options)
            .then(response => {
                if (response.ok) {
                    toastr.success('Đăng ký thành công', '');
                    window.location.href = '/NguoiDung/DeTaiSinhVien';
                    if (a == "lvtm") {

                    } else if (a == "lvt") {
                        window.location.href = '/NguoiDung/DeTaiSinhVien';
                    }
                } else if (response.status == 400) {
                    console.log(response);
                    toastr.warning('Trùng tên bài báo');
                } else {

                    toastr.error('Liên hệ hỗ trợ.', 'Gặp lỗi!')

                }
            });
    }
    function update(data, idmm) {
        var linksend = "https://localhost:44364/api/DanhMucXetDuyetSinhVien/Update/" + idmm;
        var options = {
            method: 'PUT',
            headers: {
                'Authorization': 'Bearer ' + _token,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        };
        fetch(linksend, options)
            .then(response => {
                if (response.ok) {
                    toastr.success('Sửa thành công');
                    window.location.href = '/NguoiDung/DeTaiSinhVien';
                } else {
                    toastr.warning('Có lỗi');
                }
            });
    }
    function groupUser() {
        var table = document.getElementById("tbtacgia2");
        var groupUser = "";

        for (let i = 1; i < table.rows.length; i++) {
            const row = table.rows[i];

            for (let j = 0; j < row.cells.length; j++) {

                const cell = row.cells[j].textContent;
                if (cell == "") {
                    groupUser += cell + "Trống;";
                } else {
                    groupUser += cell + ";";
                }
            }

            groupUser = groupUser.slice(0, -1);
            groupUser += "$";
        }
        groupUser = groupUser.slice(0, -1);
        return groupUser;
    }
    ///////// Tính năng mới



    function handleSend(a, x) {
        //2 cái hàm ở trên, mấy cái session với vài chỗ trong cục data
        var currentDateTime = new Date();
        currentDateTime.setHours(currentDateTime.getHours() + 7);
        var formattedDateTime = currentDateTime.toISOString().replace("T", " ").replace("Z", "");

        var date = currentDateTime.getDate();
        var month = currentDateTime.getMonth() + 1; // Tháng trong JavaScript đếm từ 0, nên cần +1
        var year = currentDateTime.getFullYear();

        var formattedDate = year + '-' + month.toString().padStart(2, '0') + '-' + date.toString().padStart(2, '0');
        var NguoiKhai = sessionStorage.getItem("NguoiKhai");
        var Khoa = sessionStorage.getItem("Khoa");
        var hoten = document.getElementById("xinchao").textContent;
        var iddmxd = document.getElementById("iddmxd").value;
        var sltgc = Number(document.querySelector('#sltgc').value);
        var sltgp = Number(document.querySelector('#sltgp').value);
        var sltg = sltgc + sltgp;
        var s = 0;
        for (let tiennum = 1; tiennum < sltg + 1; tiennum++) {
            tongtien = Number(document.querySelector('#tbtacgia2').rows[tiennum].cells[4].textContent);
            s += tongtien;
        }
        
        var valuetenbaibao = document.querySelector('#tenSanPhamKHCN').value;
        var valuemotabaibao = document.querySelector('#moTaSanPhamKHCN').value;
        var tgThucHien = document.querySelector('#tgThucHien').value;
        var sanPhamDuKien = document.querySelector('#sanPhamDuKien').value;
        var kinhPhi = document.querySelector('#kinhPhi').value;
        var fileDangKy = document.querySelector('#fileDangKy_hidden').value;
        var fileThuyetMinh = document.querySelector('#fileThuyetMinh_hidden').value;
        var fileDinhKemLyLich = document.querySelector('#fileDinhKemLyLich_hidden').value;

        var tg = groupUser();
        var ghichu = sessionStorage.getItem("GhiChu");
        ////alert(ghichu);
        ////alert(Khoa + " - " + hoten);
        ////////alert(loaiCongtrinh);
        if (iddmxd == "") {
            var data = {
                userId: _idUser,
                tenBaiBao: valuetenbaibao,
                moTaBaiBao: valuemotabaibao,
                thoiGianThucHien: tgThucHien,
                groupUser: tg,
                jci: Khoa + " - " + hoten,
                quantity: sltg.toString(),
                category: sanPhamDuKien,
                kinhPhi: kinhPhi || 0,
                ghiChu: "",
                dateSubmit: formattedDate,
                dateSubmit_now: formattedDate,
                fileDangKy: fileDangKy,
                fileThuyetMinh: fileThuyetMinh,
                fileDinhKemLyLich: fileDinhKemLyLich,
                status: "Đang đợi duyệt",
                fileStatus: "000", // 3 số 0 tương ứng với trạng thái kiểm duyệt 3 file
            }
        } else {
            var data = {
                idDanhMuc: iddmxd,
                userId: NguoiKhai,
                tenBaiBao: valuetenbaibao,
                moTaBaiBao: valuemotabaibao,
                thoiGianThucHien: tgThucHien,
                groupUser: tg,
                jci: Khoa + " - " + hoten,
                quantity: sltg.toString(),
                category: sanPhamDuKien,
                kinhPhi: kinhPhi || 0,
                ghiChu: ghichu.toString(),
                dateSubmit_now: formattedDate,
                fileDangKy: fileDangKy,
                fileThuyetMinh: fileThuyetMinh,
                fileDinhKemLyLich: fileDinhKemLyLich,
                status: "Đang đợi duyệt",
                fileStatus: "000", // 3 số 0 tương ứng với trạng thái kiểm duyệt 3 file
            }
        }

        if (articleId == "") {
            send(data, a);
        } else {
            update(data, iddmxd);
        }

    }

    // Hàm k cần enter khi tra mã
    async function clickinp() {
        var isIssn = document.getElementById("isIssn");
        isIssn.innerHTML = ``;
        await Get_issn(renderGet_issn);
    }

    function formatCurrency(amount) {
        var formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND'
        });

        return formatter.format(amount);
    }
    // Chặn thoát
    function closeModal() {
        $('#modal-xl-create').modal('hide');
  }
</script>
<script src="~/Scripts/toastr.js"></script>
