@{
  ViewBag.Title = "Role";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header" style=" display: flex; align-items: center; justify-content: space-between;">
    <h3 class="card-title">XÉT DUYỆT NCKH</h3>
    <div style=" display: flex; align-items: center;">
      <a type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-lg-create">Thêm mới</a>
      <input type="file" id="importFileInput" accept=".xlsx,.xls">
      <button class="btn btn-sm btn-success" onclick="importExcel()">Import Excel</button>
    </div>
  </div>
  <div class="card-body">
    <select id="mySelect">
      <option value="Quyền cao nhất" selected>Quyền master</option>
      <option value="Quyền duyệt 1">Duyệt 1</option>
      <option value="Quyền duyệt 2">Duyệt 2</option>
      <option value="Quyền duyệt 3">Duyệt 3</option>
      <option value="">Người dùng</option>
    </select>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div id="table-container">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>UserID</th>
            <th>Họ tên</th>
            <th>Đơn vị công tác</th>
            <th>Chức danh</th>
            <th>Quyền</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /.card-body -->
</div>

<div class="modal fade" id="modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sửa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <!-- form start -->
          <form>
            <div class="card-body">
              <div class="form-group">
                <input type="hidden" class="form-control" id="id">
                <div class="form-group">
                  <label for="loaiSanPham">Loại sản phẩm:</label>
                  <input type="text" class="form-control" id="loaiSanPham">
                </div>
                <div class="form-group">
                  <label for="moTaLoaiSanPham">Mô tả loại sản phẩm:</label>
                  <input type="text" class="form-control" id="moTaLoaiSanPham">
                </div>
                <div class="form-group">
                  <label for="yeuCauTieuChuan">Yêu cầu tiêu chuẩn:</label>
                  <input type="text" class="form-control" id="yeuCauTieuChuan">
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <label for="tietChuan">Tiết chuẩn:</label>
                    <input type="text" class="form-control" id="tietChuan">
                  </div>
                  <div class="form-group col-6">
                    <label for="diem">Điểm:</label>
                    <input type="text" class="form-control" id="diem">
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </form>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="sua()">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-lg-create" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm mới</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <!-- form start -->
          <form>
            <div class="card-body">
              <div class="form-group">
                <div class="row">
                  <div class="form-group col-6">
                    <label for="IDUser">Mã giảng viên:</label>
                    <input type="text" class="form-control" id="IDUser">
                  </div>
                  <div class="form-group col-6">
                    <label for="Password">Mật khẩu:</label>
                    <input type="password" class="form-control" id="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="HoTen">Họ tên:</label>
                  <input type="text" class="form-control" id="HoTen">
                </div>
                <div class="form-group">
                  <label for="CCCD">Căn cước công dân:</label>
                  <input type="text" class="form-control" id="CCCD">
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <label for="DiaChi">Địa chỉ:</label>
                    <input type="text" class="form-control" id="DiaChi">
                  </div>
                  <div class="form-group col-6">
                    <label for="TinhThanh">Tỉnh thành:</label>
                    <input type="text" class="form-control" id="TinhThanh">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <label for="GioiTinh">Giới tính:</label>
                    <input type="number" min="0" max="1" class="form-control" id="GioiTinh" placeholder="0: Nữ / 1: Nam">
                  </div>
                  <div class="form-group col-6">
                    <label for="NgaySinh">Ngày sinh:</label>
                    <input type="date" class="form-control" id="NgaySinh">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <label for="EmailChinh">Email chính:</label>
                    <input type="text" class="form-control" id="EmailChinh">
                  </div>
                  <div class="form-group col-6">
                    <label for="EmailThayThe">Email thay thế:</label>
                    <input type="text" class="form-control" id="EmailThayThe">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <label for="SDTCoQuan">SĐT Cơ quan:</label>
                    <input type="text" class="form-control" id="SDTCoQuan">
                  </div>
                  <div class="form-group col-6">
                    <label for="SDTDD">SĐT Di động:</label>
                    <input type="text" class="form-control" id="SDTDD">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <label for="ChucDanh">Chức danh:</label>
                    <input type="text" class="form-control" id="ChucDanh">
                  </div>
                  <div class="form-group col-6">
                    <label for="ChucVu">Chức vụ:</label>
                    <input type="text" class="form-control" id="ChucVu">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <label for="DonViCongTac">Đơn vị công tác:</label>
                    <input type="text" class="form-control" id="DonViCongTac">
                  </div>
                  <div class="form-group col-6">
                    <label for="PhongBan">Phòng ban:</label>
                    <input type="text" class="form-control" id="PhongBan">
                  </div>
                </div>
                <div class="form-group">
                  <label for="quyen">Quyền:</label>
                  <select class="form-control" id="quyen">
                    <option value="">Người dùng</option>
                    <option value="Quyền cao nhất">Quyền cao nhất</option>
                    <option value="Quyền duyệt 1">Quyền duyệt lần 1</option>
                    <option value="Quyền duyệt 2">Quyền duyệt lần 2</option>
                    <option value="Quyền duyệt 3">Quyền duyệt lần 3</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </form>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='/NguoiDung/Role'">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="themMoi()">Thêm</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function getData() {
      fetch('https://localhost:44364/api/NguoiDung/Get-all', {
        headers: {
          'Authorization': 'Bearer ' + _token,
          'Content-Type': 'application/json'
        }
      })
        .then(response => response.json())
        .then(data => {
          const tbody = document.querySelector('#example1 tbody');
          data.forEach(function (row) {
            var tr = document.createElement('tr');
            tr.innerHTML = "<td width='5%' align='center'>" + row.idUser + "</td>" +
              "<td>" + row.hoTen + "</td>" +
              "<td>" + row.donViCongTac + "</td>" +
              "<td>" + row.chucDanh + "</td>" +
              "<td width='20%'><select onchange='changeQuyen(`" + row.idUser + "`)' id='quyen" + row.idUser + "' class='custom-select'>" +
              "<option value=''" + (row.quyen == "" ? " selected" : "") + ">Người dùng</option>" +
              "<option value='Quyền cao nhất'" + (row.quyen == "Quyền cao nhất" ? " selected" : "") + ">Quyền cao nhất</option>" +
              "<option value='Quyền duyệt 1'" + (row.quyen == "Quyền duyệt 1" ? " selected" : "") + ">Quyền duyệt lần 1</option>" +
              "<option value='Quyền duyệt 2'" + (row.quyen == "Quyền duyệt 2" ? " selected" : "") + ">Quyền duyệt lần 2</option>" +
              "<option value='Quyền duyệt 3'" + (row.quyen == "Quyền duyệt 3" ? " selected" : "") + ">Quyền duyệt lần 3</option>" +
              "</select></td>";
            tbody.appendChild(tr);
          });
          $(function () {
            $("#example1").DataTable({
              "paging": true,
              "searching": true,
              "ordering": true,
              "info": true,
              "responsive": true, "lengthChange": false, "autoWidth": false,
              "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
          });
        });

    }
    getData();

  });

  function changeQuyen(idUser) {
    var value = document.getElementById('quyen' + idUser).value.toString();
    var linksend = `https://localhost:44364/api/NguoiDung/Update/` + idUser;
    var options = {
      method: 'PUT',
      headers: {
        'Authorization': 'Bearer ' + _token,
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(value),
    };
    fetch(linksend, options)
      .then(response => {
        if (response.ok) {
          toastr.warning('Sửa thành công');

        } else {
          toastr.warning('Có lỗi');
        }
      });
  }

  function themMoi() {
    const data = {
      idUser: document.getElementById("IDUser").value,
      password: document.getElementById("Password").value,
      hoTen: document.getElementById("HoTen").value,
      gioiTinh: document.getElementById("GioiTinh").value,
      ngaySinh: document.getElementById("NgaySinh").value,
      cccd: document.getElementById("CCCD").value,
      chucDanh: document.getElementById("ChucDanh").value,
      chucVu: document.getElementById("ChucVu").value,
      donViCongTac: document.getElementById("DonViCongTac").value,
      phongBan: document.getElementById("PhongBan").value,
      diaChi: document.getElementById("DiaChi").value,
      tinhThanh: document.getElementById("TinhThanh").value,
      emailChinh: document.getElementById("EmailChinh").value,
      emailThayThe: document.getElementById("EmailThayThe").value,
      sdtCoQuan: document.getElementById("SDTCoQuan").value,
      sdtdd: document.getElementById("SDTDD").value,
      quyen: document.getElementById("quyen").value,
    }
    console.log(data);
    fetch('https://localhost:44364/api/NguoiDung/Create', {
      method: 'POST',
      headers: {
        'Authorization': 'Bearer ' + _token,
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data),
    })
      .then(response => {
        console.log(response);
        if (response.ok) {
          alert('Thêm dữ liệu thành công!');
          // Đóng modal
          $('#modal-lg-create').modal('hide');

          // Load lại trang
          location.reload();
        } else {
          alert('Có lỗi');
        }
      });
  }

  function importExcel() {
    const input = document.querySelector('#importFileInput');
    const file = input.files[0];
    const formData = new FormData();
    formData.append('file', file);

    fetch('https://localhost:44364/api/NguoiDung/ImportExcel', {
      method: 'POST',
      headers: {
        'Authorization': 'Bearer ' + _token,
      },
      body: formData
    })
      .then(response => {
        if (!response.ok) {
          return alert("Có lỗi xảy ra");
        }
        return alert("Nhập dữ liệu thành công");
      })
  }
</script>